.nav {
    height: 58px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
    position: fixed; /* Fixed position */
    top: 0; /* Stick to the top of the viewport */
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure it's above other content */
}
.logo-container {
    margin-left: 20px; /* Add margin to separate logo container from the left edge */
}
.logo {
    height: 60px; /* Adjust height as needed */
}